// Set to true if you want to add support for IE6 and IE7
// Notice: setting to true might render some elements
// slightly differently than when set to false
$legacy_support_for_ie: false;

// Set the default font family here so you don't have to override it later
$default_font_family: sans-serif;

$h1_font_size: 2em;
$h1_margin:0 0 0.67em;

$h2_font_size: 1.5em;
$h2_margin:0 0 0.83em;

$h3_font_size: 1.17em;
$h3_margin:0 0 1em;

$h4_font_size: 1em;
$h4_margin:0 0 1.33em;

$h5_font_size: 0.83em;
$h5_margin:0 0 1.67em;

$h6_font_size: 0.75em;
$h6_margin:0 0 2.33em;

$background: #fff;
$color: #000;

$grid-page-width: 1200px;


// Colors

$grey1:  #e4e6e9;
$grey2:  #c8ccd2;
$grey3:  #9198a3;
$grey4:  #47484a;
$grey5:  #2d3133;
$red: #8f0e0c;
$green: #7fc242;
$blue: #336699;

$color_primary: $blue;
$color_secondary: $grey3;

$error-red: lighten($red, 40);
$success-green: lighten($green, 15);
$warning-yellow: #fdf4ca;


// Fonts

$font_serif: Georgia, Times New Roman, serif;
$font_sansSerif: Arial, sans-serif;

$large-page-width: 1038px;
$medium-page-width: 960px;
$small-page-width: 800px;
$mobile-page-width: 640px;
$tablet-page-width: 1024px;