#subfooter {

    color: $grey4;
    background-color: $grey1;

    .content {
        padding: 2em 0;
    }

    h3 {

        font-weight: normal;

        strong {
            color: $grey5;
        }

    }

    p {

        &:last-child {
            margin-bottom: 0;
        }

    }

}


#footer {

    color: $grey1;
    background-color: $grey5;

    .content {
        padding: 1em 0;
    }

}

.footer-info {

    font-size: .8em;

    ul {
        @extend %horizontal-list;
    }

    li {
        margin: 0 .5em;
    }

}