#main {

    &.main-wide {
        @extend .twelvecol;
    }

    &.main-narrow {
        @extend .ninecol;
    }

}

.excerpt-read-more {
    display: block;
    font-size: .9em;
    margin-top: 1em;
}

.welcome-message {

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: $grey1;
    padding: 2em;
    margin-bottom: 3em!important;

    p,
    h3,
    h4 {

        &:last-child {
            margin-bottom: 0;
        }

    }

}

.alert-message {
    @extend .welcome-message;
    background-color: $warning-yellow;
}