#nav {

    .content {
        padding-bottom: .5em;
        border-bottom: solid 1px $grey1;
    }

}

.nav-logo {

    height: 82px;

    .h1 {
        display: block;
        margin: 0;
        a {
            @include inline-block();
            color: $color_primary;
            font-weight: bold;
            text-decoration: none;
        }
        img {
            display: block;
        }
    }
    .tagline {
        display: block;
        color: $grey3;
    }

}

.nav-links {

    & > ul {
        @extend %horizontal-list;
        text-align: right;
        height: 82px;
        line-height: 82px;
    }

    li {
        margin-left: 1em;
        &:first-child {
            margin-left: 0;
        }
    }

    a {
        font-size: .9em;
        text-transform: uppercase;
    }

    .menu-item-has-children,
    .page_item_has_children {
        position: relative;
        @include nonmobile() {
            &:hover {
                .children,
                .sub-menu {
                    display: block;
                }
            }
        }
    }

    .children,
    .sub-menu {
        display: none;
        position: absolute;
        top: 3em;
        left: 50%;
        width: 8em;
        list-style: none;
        background-color: $grey5;
        padding: 1em;
        border-radius: .25em;
        margin-left: -4em;
        &:before {
            display: block;
            position: absolute;
            top: -.25em;
            left: 50%;
            width: 1em;
            height: 1em;
            content: '';
            background-color: $grey5;
            margin-left: -.55em;
            @include transform( rotate(45deg) );
        }
        li {
            text-align: center;
            line-height: 1em;
            white-space: nowrap;
            margin: 0 0 .5em;
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            font-size: .9em;
        }
    }

}