#footer {
    .content {
        padding-bottom: 3em;
    }
}

.footer-links {
    ul {
        @extend %horizontal-list;
    }
    li {
        margin-right: 1em;
        &:last-child {
            margin-right: 0;
        }
    }
}