// Apply border-box to all elements
// http://paulirish.com/2012/box-sizing-border-box-ftw/

* {
    box-sizing: border-box;
}

body {
    color: $grey5;
}

a {
    color: $color_primary;
    text-decoration: none;
}

hr {
    border: 0;
    border-bottom: solid 1px $grey1;
    @include clearfix();
}

ul, ol, dd {
    line-height: 1.5em;
    padding-left: 1.2em;
    margin: 0;
    margin-bottom: 1em;
}

dt {
    margin-bottom: .5em;
}

dd {
    border-left: solid 1px $grey1;
}

p {
    text-align: inherit;
    line-height: 1.6em;
    margin-top: 0;
}

code {
    display: block;
    color: $grey5;
    line-height: 1.2em;
    background-color: $grey1;
    padding: .75em;
    border: solid 1px #dedede;
    margin-bottom: 1em;
}

p code {
    @include inline-block;
    padding: 0 .15em;
    margin-bottom: 0;
}

blockquote {
    background-color: $grey1;
    padding: 1em 2em;
    margin: 0;
    margin-bottom: 1.5em;
    p {
        margin-top: 0;
        &:last-child {
            margin-bottom: 0;
        }
    }
    cite {
        font-size: .8em;
    }
}

details {
    margin-bottom: 1em;
}