input,
textarea {
    font-size: .8em;
    -webkit-appearance: none;
    padding: .5em;
    border: solid 1px #ccc;
    border-radius: .25em;
}

input[type="text"],
textarea {
    background-color: white;
}